* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to bottom, #23074d, #cc5333);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    font-family: "Poppins",sans-serif;
    


}

.container {
  
    width: 80vw;
    max-width: 37.5em;
    position:absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    height: 55% !important;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 1.25em 1.8em rgba(8,21,65, 0.25);
    padding: 3em 2.5em;
   
}

#input {
    
    border:none;
    outline: none;
    border-bottom: .7px solid crimson;
    padding: 0 0.62em;
    color:rgb(40, 40, 41);
    font-weight: 500;
    flex: 1 0 0%;
   
    
}

#btn {
    font-size: 1em;

}

::placeholder {
    font-size: 1.1rem !important;
    color:crimson;
    opacity: .5;
    font-weight: 500;
}

.content {
    margin-top: 1.25em;
}

#row1 {
    display: grid;
    grid-template-columns: 9fr 3fr;
    gap: 1.25em;
}

.error {
    font-size: 1.3rem;
}

.flag-img {
    display: block;
    width: 45%;
    min-width: 7.5em;
    margin: 1.8em auto 1.2em auto;
}

.content h2 {
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
    color: #222a43;
    letter-spacing: 2px;
    margin-bottom: 1.8em;
}

.data-wrapper {
    margin-bottom: 1em;
    letter-spacing: 0.3px;

}

.content h4 {
    display: inline;
    font-weight:500;
    color: #222a43;


}
.content span {
    color: #5d6274;

}
