* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to bottom, #23074d, #cc5333);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;


}

.container {
  
    width: 30% !important;
    height: 15% !important;
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

#input {
    flex:1 0 0%;
    border:none;
    outline: none;
    border-bottom: .7px solid crimson;
    position: relative;
    bottom: -6px;
    padding-left: .6rem;
    color:rgb(40, 40, 41);
    font-weight: 500;
    
}

::placeholder {
    font-size: 1.1rem !important;
    color:crimson;
    opacity: .5;
    font-weight: 500;
}

#btn {
    flex: .25 1 0%;
    border-radius: 30px !important;
    
}
.invalid {
    margin-top: 1rem;
     color:rgb(58, 37, 41);
    opacity: .7;
    margin-left: -40px;
}